.main-print {
    width: 1200px;
}

h1 {
    
}
.logo-ana {
    width: 200px;
    display:inline-block;
}

.title {
    display:inline-block; width: 300px; text-align:center;
    color: red;
}

.main-pic {
    display:inline-block; width: 200px;
}